<div class="search-form mt-5">
    <form>
        <div class="mb-3">
            <label for="q" class="form-label">Từ Khóa</label>
            <input type="text" name="q" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>